/* CSS 선택자(Selector) */

/* 전체 선택자(universal selector) */
*{
  color: inherit;
}

/* 요소 선택자(Type Selector) */
body {
  font-family: "SUIT";
  font-weight: 300;
  background-color: #181818;
  color: hsla(110, 100%,50%, 0.7);
  margin: 0;
}

/* 클래스 선택자(Class Selector) */
.fancy {
  font-weight: bold;
  text-shadow: 4px 4px 3px #77f;
}

.align {
  text-align: center;
}

ul.menu{
	margin: 0;
	padding-left: 0;
  color: pink;
}

/* 아이디 선택자(ID Selector) */
#demo {
  border: skyblue 10px solid;
}

/* 속성 선택자(Attribute Selector) */
.menu a[href$=".html"] {
  font-weight: 700;
  background-color: blue;
}

/* 자손 결합자(Descendant Combinator) */
.navigation .menu li{
	color: #ccc;
}
/* 자식 결합자(Child Combinator) */
.menu > li {
  margin: 0;
}

/* 선택자 목록 (Selector List) */
.fancy, .menu{
  font-size: 24px;
}

/* 가상 요소(Pseudo Elements) */
/* 드래그 했을떄 */
::selection {
  background: red;
  color: #fff;
}
 .align::before{
  content: "이전요소";
 }
 .align::after{
  content: "다음요소";
 }

 /* 가상 클래스(Pseudo Class) */
 .menu li:nth-child(n+5){
  color: #fff;
 }
 .menu li:nth-child(-n+2){
  color: #fff;
 }
 .menu li:nth-child(odd){
  background: greenyellow;
 }
 .menu li:nth-child(even){
  background: skyblue;
 }

h1:hover{background: pink; }   
